/* 
Text color
#757575 - primary color (text)
#212121 - secondary color (title) 

#000000 - webstudio + adress + H1 + text button
#2196F3 - links 
rgba(255, 255, 255, 0.6) - tel+email in footer

Background color
#E5E5E5 - primary background
#F5F4FA - secondary background
*/
:root {
  --primary-text-color: #757575;
  --title-text-color: #212121;
  --links-color: #2196f3;
  --contacts-footer-color: rgba(255, 255, 255, 0.6);
  --white-text-color: #ffffff;
  --black-text-color: #000000;

  --icon-color: #afb1b8;

  --white-background-color: #ffffff;
  --footer-hero-background: #2f303a;
  --primary-background: #e5e5e5;
  --secondary-background: #f5f4fa;
}

.page {
  background-color: #ffffff;
  color: var(--primary-text-color);
  font-family: Roboto, 'sans-serif';
}

.list {
  padding: 0;
  margin: 0;
  list-style: none;
}

.nounderline {
  text-decoration: none;
}

.container {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
}

.flex {
  display: flex;
  align-items: center;
}

.image {
  display: block;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/* marking header */

.page-header {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  background-color: var(--white-text-color);
  padding-top: 24px;
  padding-bottom: 24px;   
  border-bottom: 1px solid #ececec;
  z-index: 10;
}

.header-div {
  display: flex;
}

.logo {
    color: var(--links-color);
  font-family: Raleway;
  font-weight: normal;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  margin-right: 94px;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.logo:hover {
  -webkit-transform: scale(1.2);
}


.logo-black {
  color: var(--black-text-color);
}

.logo-white {
  color: var(--white-text-color);
}

.site-nav-link {
  color: var(--title-text-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  display: block;
  transition:color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.site-nav li:not(:last-child) {
  margin-right: 50px;
}

.site-nav-link:hover,
.site-nav-link:focus {
  color: var(--links-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
}

.site-nav-link.current {
  color: var(--links-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
}

.site-nav-link-wrap {
  position: relative;
}

.site-nav-link.current::after {
content: '';
position: absolute;
left: 0;
bottom: -32px;
width: 100%;
height: 4px;
background-color: var(--links-color);
opacity: 1;
}


.header-contacts {
  margin-left: auto;
  align-items: center;
  align-content: center;
}

.header-contacts .contact {
  color: var(--primary-text-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.02em;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

}

.header-contacts li:not(:first-child) {
  margin-left: 50px;
}

.contact {
  padding-top: 1px;
}

.header-contacts .contact:hover,
.header-contacts .contact:focus {
  margin: 0;
  color: var(--links-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.02em;
  color: var(--links-color);
}

.cont-icon {
  height: 16px;
  width: 16px;
  margin-right: 10px;
  fill: currentColor;
}

/* Hero */

.hero {
  background-image: linear-gradient(0, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
    url('../images/hero.jpg');
  max-width: 1600px;
  margin: 0 auto;
  padding-top: 200px;
  padding-bottom: 200px;
}

.hero-title {
  margin: 0 auto;
  margin-top: 0;
  margin-bottom: 30px;
  width: 696px;
  color: var(--white-text-color);
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
}

.hero-button {
  display: block;
  margin: 0 auto;
  border: none;
  font-family: inherit;
  font-weight: bold;
  font-size: 16px;
  line-height: 1.87;
  text-align: center;
  letter-spacing: 0.06em;
  padding-top: 10px;
  padding-right: 22px;
  padding-bottom: 10px;
  padding-left: 22px;
  border-radius: 4px;
  
  background-color: #2f303a;
  border-color: #3498db;
  color: var(--white-text-color);
  box-shadow: 0 0 40px 40px #3498db inset, 0 0 0 0 #3498db;
  -webkit-transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.hero-button:hover {
  box-shadow: 0 0 10px 0 #3498db inset, 0 0 10px 4px #3498db;
}

/* Section */

.section {
  padding-top: 94px;
  padding-bottom: 94px;
}

/* Feature */

.feature-icon {
  display: inline;
  margin: 0;
  width: 270px;
  height: 120px;
  background-color: var(--secondary-background);
  border-radius: 4px;
  padding: 25px 100px 25px 100px;
  margin-bottom: 30px;
}

.section.feature {
  padding-bottom: 0px;
}

.feature-list > li {
  width: 270px;
}

.feature-list > li:not(:last-child) {
  margin-right: 30px;
  justify-content: space-around;
}

.feature-list .title {
  margin: 0;
  margin-bottom: 10px;
  color: var(--title-text-color);
  font-weight: bold;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}
.feature-list .description {
  margin: 0;
  color: var(--primary-text-color);
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}

/* What we are doing */
.section-title {
  margin: 0;
  margin-bottom: 50px;
  color: var(--title-text-color);
  font-weight: bold;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;
}
/* 
.we-doing li {
  width: 370px;
} */

.we-doing li:not(:last-child) {
  margin-right: 30px;
}


.we-doing-image {
  position: relative;
  z-index: 0;
} 

.we-doing-title {
  position: absolute;
  bottom: 0;
  background-color: rgba(47, 48, 58, .8);
  color: var(--white-text-color);
  padding-top: 27px;
  padding-bottom: 27px;
  margin: 0;
  width: 100%;

font-family: Roboto;
font-weight: 400;
font-size: 14px;
/* line-height: 16px; */
text-align: center;
letter-spacing: 0.03em;
text-transform: uppercase;
}

/* Team  */
.team {
  background-color: var(--secondary-background);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.workers .worker-card {
  background-color: #ffffff;
  text-align: center;
  width: 270px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.workers .worker-card:not(:last-child) {
  margin-right: 30px;
}

.worker {
  padding: 30px 32px 30px 32px;
}

.worker .name {
  margin: 0;
  color: var(--title-text-color);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  padding-bottom: 10px;
}
.worker .profession {
  margin: 0;
  color: var(--primary-text-color);
  font-size: 16px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  padding-bottom: 16px;
}

.social-links {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
  justify-content: space-between;
  align-items: center;
}

.social-links .social-link-card:not(:last-child) {
  margin-right: 10px;
}

.social-link {
  display: inline-flex;
  width: 44px;
  height: 44px;
  justify-content: center;
  align-items: center;
  background-color: var(--white-background-color);
  border-radius: 50%;
  color: var(--icon-color);
  
  transition: background-color, color, box-shadow, 250ms cubic-bezier(0.4, 0, 0.2, 1);

}

.social-link:hover,
.social-link:focus {
  background-color: var(--links-color);
  color: #ffffff;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 25%);
}

.social-icon {
  display: block;
  padding: 0px;
  margin-right: 0px;
  width: 20px;
  height: 20px;
  fill: currentColor;
}

/* Our customers */
.customers-list {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
  justify-content: space-between;
  align-items: center;
}

.customer {
  display: flex;
  justify-content: center;
  align-items: center;
} 

.customer .link:not(:last-child) {
  margin-right: 30px;
}

.customer-link {
  display:flex;
  width: 170px;
  height: 92px;
  margin: 0;
  padding: 0;
  justify-content: center;
  align-items: center;
  color: var(--icon-color);
  border: 1px solid var(--icon-color);
  border-radius: 4px;
  transition: color, border, 250ms cubic-bezier(0.4, 0, 0.2, 1);

}

.customer-link:hover,
.customer-link:focus {
  color: var(--links-color);
  border: 1px solid var(--links-color);
}

.customer-icon {
  display: flex;
  padding: 0;
  margin: 0;
  fill: currentColor;
}

/* Footer */
.welcome {
  margin: 0;
  padding: 12px 0 40px 0;
}

.welcome-title {
  margin: 0 0 20px 0;
  padding: 0;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--white-text-color);
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.welcome-social:not(:last-child) {
  margin-right: 10px;
}

.welcome-link {
  display: flex;
  width: 44px;
  height: 44px;
  justify-content: center;
  align-items: center;
  color: var(--white-text-color);
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 50%;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

}

.welcome-link:hover,
.welcome-link:focus {
  background-color: var(--links-color);
}

.welcome-icon {
  display: flex;
  width: 20px;
  height: 20px;
  fill: currentColor;
}

.footer {
  background-color: var(--footer-hero-background);
  padding-top: 60px;
  padding-bottom: 60px;
}

.footer .logo {
  display: block;
  margin-bottom: 20px;
  margin-right: 156px;
}

.footer-contacts .adress {
  color: var(--white-text-color);
  font-style: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

}

.footer-contacts li:not(:last-child) {
  margin-bottom: 10px;
}

.footer-contacts .adress:hover,
.footer-contacts .adress:focus {
  color: var(--links-color);
}

.footer-contacts .contact {
  color: var(--contacts-footer-color);
  font-style: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

}

.footer-contacts .contact:hover,
.footer-contacts .contact:focus {
  color: var(--links-color);

}
/* ------------------------------------------ */
/* Portfolio */
/* ------------------------------------------ */

/* Filters button */

.filters {
  justify-content: center;
  margin-bottom: 50px;
}

.filters .button {
  color: var(--title-text-color);
  background-color: var(--secondary-background);
  border: none;
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  letter-spacing: 0.03em;
  cursor: pointer;
  padding: 6px 22px 6px 22px;
  border-radius: 4px;
  transition: background-color, color, box-shadow, 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.filters li:not(:last-child) {
  margin-right: 8px;
}

.filters .button:hover,
.filters .button:focus {
  color: var(--white-text-color);
  background-color: var(--links-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.project-name {
  padding: 20px 24px 20px 24px;
  border-right: 1px solid #eeeeee;
  border-bottom: 1px solid #eeeeee;
  border-left: 1px solid #eeeeee;
}

.projects-title {
  margin: 0;
  color: var(--black-text-color);
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  margin-bottom: 4px;
}

.projects-description {
  margin: 0;
  color: var(--primary-text-color);
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.03em;
}

.card-set {
  display: flex;
  flex-wrap: wrap;
  margin-left: -30px;
  margin-top: -30px;
}

.item {
  max-width: 370px;
  padding: 0px;
  margin-left: 30px;
  margin-top: 30px;
  flex-basis: calc((100% - 90px) / 3);
  background-color: #ffffff;
  position: relative;
}

.project {
  display: block;
}

.card-tumb {
  position: relative;
  overflow: hidden;
}

.card-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(33, 150, 243, 0.9);
  transform: translateY(100%);
  opacity: 0;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1),
  opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.card-text {
  margin: 0;
  padding: 63px 24px 63px 24px;
font-size: 18px;
line-height: 28px;
letter-spacing: 0.03em;
color: #FFFFFF;
}

.item:hover .card-overlay {
  transform: translateY(0);
  opacity: 1;
}

.item:hover {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
  1px 4px 6px rgba(0, 0, 0, 0.16);
}


/* Modal window */

.backdrop {
position: fixed;
top: 0;
left: 0;
right: 0;
bottom: 0;
background-color: rgba(0, 0, 0, .25);
z-index: 20;

opacity: 1;
transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop.is-hidden {
  /* visibility: hidden; */
  opacity: 0;
  pointer-events: none;
}

.backdrop.is-hidden .modal {
  transform: translate(-50%, -50%) scale(1.1);
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 528px;
  height: 581px;
  background-color: var(--white-background-color);
  box-shadow: 0px 2px 1px 0px rgba(0, 0, 0, .2), 0px 1px 1px 0px rgba(0, 0, 0, .14), 0px 1px 3px 0px rgba(0, 0, 0, .12);
  border-radius: 4px;

  transform: translate(-50%, -50%) scale(1);

  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop .modal {
position: absolute;
}

.btn-close {
  position: absolute;
  right: 8px;
  top: 8px;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: var(--white-background-color);
  border-color: rgba(0, 0, 0, .1);
  color: var(--black-text-color)
}

.btn-close:hover {
  color: var(--links-color);
}

.icon-close {
fill: currentColor;
}
